# Map all contributors to a single identity
Developer <dev@minimax.com> nishuzumi <box@monad.foundation>
Developer <dev@minimax.com> BoxChen <box@monad.foundation>
Developer <dev@minimax.com> box <box@Mac.lan>
